/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Petit+Formal+Script&family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import url('https://s3.ap-southeast-1.amazonaws.com/sheryl.patrickllegos.com/assets/Adam-5d9f02cc.otf');


@font-face {
  font-family: "Adam";
  src: url("./assets/fonts/MiConv.com__Adam-Medium.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./assets/fonts/monteserat/wofftype/Montserrat-Light") format("woff");
}

.entitled {
  font-family: "Montserrat-Light", sans-serif !important;
}

#root {
  font-family: "Montserrat-Light", sans-serif !important;
  /* font-family: "Adam", sans-serif; */
  color: #314c63;
}

.mainTitle {
  font-family: 'WindSong', cursive;
}

.subTitle {
  font-family: 'Nunito', sans-serif;
}

#app {
  scroll-behavior: smooth;
}


/* CSS styles for the snowflakes container */
#snowflakes-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  background-color: #2a4054;
}

/* CSS styles for the snowflake */
.snowflake {
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  animation: snowfall linear infinite;
}

/* CSS animation keyframes */
@keyframes snowfall {
  0% {
    transform: translateY(-50px) rotate(0deg);
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

/* #snowflakes-container {
  background-image: url('./assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;
  width: 100%;
} */

.fade-in-image,
.countdown {
  font-family: 'Petit Formal Script';
  color: #2A4054;
}

.countdownMobile {
  font-size: 0.3rem !important;
  font-family: 'Petit Formal Script';
  color: #2A4054;
}

.fade-in-image {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.homeBgImg {
  background-image: url('./assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  z-index: 1;
}

/* .homeBgImg::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  z-index: 2;
  background-image: linear-gradient(rgba(164, 180, 214, 0.5), rgba(44, 96, 228, 0.5));
} */

.navbar {
  background-color: transparent;
  transition: background-color 0.7s ease;
}

.navbar.scrolled {
  background-color: #2A4054;
  color: #f0f0f0 !important;
}

@keyframes spin3D {
  from {
    transform: rotateY(0deg)
  }

  to {
    transform: rotateY(360deg)
  }
}

.monogram {
  animation-name: spin3D;
  animation-duration: 6s;
  animation-iteration-count: 1;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: ease-in-out;
}

/* .icon.upper g path {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
} */

.icon.upper g path {
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: cloud 10s linear alternate infinite;
}

@keyframes cloud {
  from {
    stroke-dashoffset: 4000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.fade-up {
  opacity: 1;
  transform: translateY(0);
}

.fade-up.is-invisible {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-up.is-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}