li,
ul {
  list-style: none
}



a {
  display: table;
  color: inherit;
  text-decoration: none
}



.entitledmobile {
  color: #072a4b;
  font-size: 3.09524vw;
  line-height: 5.95238vw;
  letter-spacing: .11905vw;
  font-weight: 500;
}

#footer-top.entitledmobile,
#h-s1-gallery-btn .entitledmobile,
#n-br .entitledmobile,
.nav-linkmobile.entitledmobile {
  transform: none
}

#h1 {
  position: absolute;
  z-index: 1;
  top: 37.21739vh;
  left: 41.55556vw;
  pointer-events: none
}

.line {
  margin: 1vw 0 0;
  width: 1.66667vw;
  height: .22222vw;
  background: #c3c2c0;
  transform: scaleX(0);
  transform-origin: 0 50%
}

#loader-w {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none
}

#loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #072a4b;
}

.nav-dark {
  color: #072a4b;
  opacity: 0
}

.nav-light {
  position: absolute;
  color: #072a4b;
}

.nav-linkmobile .nav-light {
  top: 0;
  left: 0
}

.nav-top .nav-light {
  top: .55556vw;
  left: 1.11111vw
}

#nav {
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#nav {
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-top {
  position: absolute;
  top: 2.77778vw;
  font-size: .83333vw;
  line-height: 1.38889vw;
  font-family: c;
  text-align: center;
  overflow: hidden
}
#nav-logomobile span {
  display: block;
}
#nav-logomobile-w {
  left: 2.77778vw
}

#nav-logomobile {
  padding: .55556vw 1.11111vw;
  pointer-events: all
}
#nav-logomobile {
  position: absolute;
  top: 3.80952vw;
  left: 1.19048vw;
  padding: 2.38095vw 7.14286vw;
  pointer-events: all;
}
#nav-logomobile span {
  display: block;
  pointer-events: none
}

#nav-date-w {
  right: 2.61111vw
}

#nav-date {
  padding: .55556vw 1.11111vw;
  pointer-events: all;
  cursor: pointer;
  color: #284135
}










#nav-linkmobile-w {
  position: absolute;
  top: 3.80952vw;
  right: 4.28571vw;
}
#nav-linkmobile-w li {
  float: left;
  padding: 2.38095vw 3.80952vw;
}
.nav-linkmobile {
  position: re;
  font-size: 3vw;
}



#nav-prog-w {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: .33333vw;
  overflow: hidden
}

#nav-prog {
  background: #c3c2c0;

}


.under {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;

}

.footer-credits .under {
  bottom: 0
}

#h-s1-gallery-btn .under,
.nav-linkmobile .under {
  bottom: .1vw
}

.txt-0 .under {
  bottom: .5vw
}

#h-s1-gallery-btn .under:after,
#h-s1-gallery-btn .under:before,
.nav-linkmobile .under:after,
.nav-linkmobile .under:before,
.txt-0 .under:after,
.txt-0 .under:before {
  border-bottom: 2px solid #072a4b;
  opacity: .9
}

.footer-credits .under:after,
.footer-credits .under:before {
  border-bottom: 2px solid #999790;
  opacity: .9
}

.under:after,
.under:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.under:before {
  transition: transform 1s cubic-bezier(.23, 1, .32, 1) .2s
}

.under:after {
  transform: translateX(-102%);
  transition: transform 1s cubic-bezier(.23, 1, .32, 1)
}

#h-s1-gallery-btn:hover .under:before,
.footer-credits:hover .under:before,
.nav-linkmobile:hover .under:before,
.txt-0:hover .under:before {
  transform: translateX(102%);
  transition: transform 1s cubic-bezier(.23, 1, .32, 1)
}

#h-s1-gallery-btn:hover .under:after,
.footer-credits:hover .under:after,
.nav-linkmobile:hover .under:after,
.txt-0:hover .under:after {
  transform: translateX(0);
  transition: transform 1s cubic-bezier(.23, 1, .32, 1) .2s
}

.shetop{
  top:30%;
}



#nav-date, .page {
  position: absolute;
}

#nav-date {
  top: 192.85714vw;
  right: 8.09524vw;
  font-size: 5.71429vw;
  line-height: 7.14286vw;
  color: #284135;
  font-family: c;
  pointer-events: all;
  cursor: pointer;
  font-family: "Adam" , sans-serif !important;
  /* font-family: "Adam", sans-serif; */
  color: #314c63;
}

#nav-linkmobile-w {
  position: absolute;
  top: 3.80952vw;
  right: 4.28571vw;
}
.nav-linkmobile {
  cursor: pointer;
  display: table;
  pointer-events: all;
}



